@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 style="text-decoration:underline;"> Infomation Encoding Standards</h3>
    <h3 style="text-decoration:underline;"> Final Project BDAT 1001 Part 1: Asp.Net core web app demo by Group14</h3>
    <table class="text-lg-start"> 
       <tr><th>Group Member:</th></tr> 
       <tr> <td>GowriPriya Ginnam</td> </tr> 
        <tr><td> Mandeep Singh</td> </tr> 
        <tr><td> Meharaj Maharjan</td> </tr> 
    </table>
</div>
